alembic==1.12.1
astroid==3.0.1
blinker==1.7.0
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.11
dill==0.3.7
distlib==0.3.7
EditorConfig==0.12.3
filelock==3.13.1
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
greenlet==3.0.1
html-tag-names==0.1.2
html-void-elements==0.1.0
identify==2.5.32
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsbeautifier==1.14.11
json5==0.9.14
Mako==1.3.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pluggy==1.3.0
pre-commit==3.5.0
PyMySQL==1.1.0
pytest==7.4.3
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.10.3
setuptools==69.0.2
six==1.16.0
SQLAlchemy==2.0.23
tomlkit==0.12.3
tqdm==4.66.1
typing_extensions==4.8.0
virtualenv==20.24.7
Werkzeug==3.0.1
WTForms==3.1.1
