{% extends "admin/master.html" %}
{% from 'bootstrap4/form.html' import render_form %}
{% from '_formhelper.html' import render_field %}
{% block body %}

<div class="d-flex flex-column align-items-center">
    <div class="border p-0">
        <p>
            <a class="btn btn-primary p-2 h-100 d-flex align-items-center justify-content-between"
                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                aria-controls="collapseExample">
                <span class="ms-2 fw-bold align-items-center">HÓA ĐƠN CẦN THANH TOÁN</span>
            </a>
        </p>
        <div class="collapse show p-3 pt-0" id="collapseExample">
            <div class="row">
                <div class="col-lg-12">
                    <form action="" method='POST' class="form">
                        {{form.csrf_token}}
                        <div class='d-flex justify-content-between align-items-center'>
                            <strong>Ngày khám: {{medical_examination.created_at}}</strong>
                            {% if bill %}
                            <a class="btn btn-danger" href='{{url_for("export-bill-pdf.index", bid=bill.id)}}'>Xuất
                                PDF
                            </a>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-6 mt-3">
                                <div class="form__div">
                                    {{render_field(form.name, readonly=true, value=patient.name, class='form-control')}}
                                </div>
                            </div>

                            <div class="col-6 mt-3">
                                <div class="form__div">
                                    {{render_field(form.contact, readonly=true, value=patient.contact,
                                    class='form-control')}}
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="form__div">
                                    {{render_field(form.examination_fee, readonly=true,
                                    value=examination_fee_policy ~ ' ' ~ 'VND' , class='form-control')}}
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="form__div">
                                    {{render_field(form.medicine_fee, readonly=true,
                                    value=medicine_fee ~ ' ' ~ 'VND' , class='form-control')}}
                                </div>
                            </div>

                            <div class="container-fluid mt-4 text-center">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row mb-3">
                                                    <div class="col-1 font-weight-bold">STT</div>
                                                    <div class="col-3 font-weight-bold">Thuốc</div>
                                                    <div class="col-1 font-weight-bold">Đơn vị</div>
                                                    <div class="col-3 font-weight-bold">Đơn giá</div>
                                                    <div class="col-3 font-weight-bold">Thành tiền</div>
                                                    <div class="col-1 font-weight-bold">Số lượng</div>
                                                </div>

                                                {% if medical_examination.medical_examination_details %}
                                                {% for detail in medical_examination.medical_examination_details %}
                                                <div class="row mb-2">
                                                    <div class="col-1">{{loop.index}}</div>
                                                    <div class="col-3">{{detail.medicine.name}}</div>
                                                    <div class="col-1">{{detail.medicine.medicine_unit.name}}</div>
                                                    <div class="col-3">{{format_money(detail.medicine.price)}} VND</div>
                                                    <div class="col-3">{{format_money((detail.medicine.price /
                                                        detail.medicine.quantity) * detail.quantity)}} VND</div>
                                                    <div class="col-1">{{detail.quantity}}</div>
                                                </div>
                                                {% endfor %}
                                                {% else %}
                                                <div class="row">
                                                    <div class="col-12">Không có đơn thuốc nào.</div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 mt-3">
                                <div class="form__div">
                                    {{render_field(form.sum_fee, readonly=true,
                                    value=sum_fee ~ ' ' ~ 'VND' ,
                                    class='form-control')}}
                                </div>
                            </div>
                            {% if not bill or not bill.fulfilled %}
                            <div class="col-12 mt-4 ">
                                {{form.pay_options}}
                                {{form.submit(class="btn btn-primary w-100")}}
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
