{% extends "admin/master.html" %}
{% from 'bootstrap4/form.html' import render_form %}
{% from "_formhelper.html" import render_field %}
{% block head %}
<style>
  #examination-form {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
  }
</style>
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}" xmlns="http://www.w3.org/1999/html" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

<ul class="nav nav-tabs d-flex justify-content-between py-2">
  <div class="nav-item d-flex">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Khám bệnh</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lịch sử bệnh</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tra cứu thuốc</a>
    </li>
  </div>
  <div class="gap-2 nav-item">
    {{form.submit(form='examination-form', class="btn btn-success submit-btn")}}
    <button class="btn btn-warning submit-btn ml-4">Xuất PDF</button>
  </div>
</ul>

<form method="POST" id="examination-form" novalidate>
  {{ form.csrf_token }}
  <div class="row my-4">
    <div class="col-lg-6">
      {{render_field(form.name, class='form-control', readonly=true, value=patient.name)}}
    </div>
    <div class="col-lg-6">
      {% if patient.phone_number %}
      {{render_field(form.contact, class='form-control', readonly=true, value=patient.phone_number)}}
      {% else %}
      {{render_field(form.contact, class='form-control', readonly=true, value=patient.email)}}
      {% endif %}
    </div>

    <div class="col-lg-6 mt-3">
      {{render_field(form.symptom, class='form-control', readonly=true, value=medical_registration.symptom)}}
    </div>
    <div class="col-lg-6 mt-3">
      {{render_field(form.diagnosis, class='form-control', rows='1')}}
    </div>
  </div>
  <hr />

  <div class="row my-4">
    <div class="col-lg-6">
      {{render_field(form.medicine_type, class='form-control', list="medicine-type-list",
      onchange="selectMedicineType()")}}
      <datalist id="medicine-type-list">
        {% for type in medicine_types %}
        <option value="{{type.name}}"></option>
        {% endfor %}
      </datalist>
    </div>
    <div class="col-lg-5">
      {{render_field(form.medicine_name, class='form-control', list="medicine-name-list" )}}
      <datalist id="medicine-name-list">
      </datalist>
    </div>
    <div class="col-lg-1 d-flex align-self-end">
      {{form.add_medicine(form='add-medicine-form', class="btn btn-info")}}
    </div>
  </div>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Đơn vị</th>
        <th scope="col">Cách dùng</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if form.medicines %}
      {% for medicine in form.medicines %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>
          {{render_field(medicine.quantity, class='form-control', has_label=False)}}
        </td>
        <td>
          {{render_field(medicine.unit, class='form-control', has_label=False, readonly=true)}}
        </td>
        <td>
          {{render_field(medicine.dosage, class='form-control', has_label=False, list="dosage-list")}}
          <datalist id="dosage-list">
            {% for dosage in dosages %}
            <option value="{{ dosage }}"></option>
            {% endfor %}
          </datalist>
        </td>
        <td>
          {{render_field(medicine.delete_medicine, has_label=False, class='form-control')}}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="9">Chưa có thuốc nào được thêm vào đơn này.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</form>

<script>
  function selectMedicineType() {
    var selectedMedicineType = document.getElementById('medicine_type').value

    // Thực hiện yêu cầu GET qua API với giá trị đã chọn
    fetch(`/api/medicines/?type=${selectedMedicineType}`)
      .then(response => response.json())
      .then(data => {
        console.log(data)
      })
      .catch(error => {
        console.error(error)
      })
  }
</script>
{% endblock %}
