<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Form</title>
</head>
<body>
    <h2>LẬP PHIẾU KHÁM</h2>
    <form method="POST">
        {{ form.csrf_token }}
        <label for="patient_name">Họ tên:</label>
        {{ form.patient_name(size=30) }}<br><br>
        <label for="symptoms">Triệu chứng:</label>
        {{ form.symptoms(rows=4, cols=30) }}<br><br>
        <label for="disease">Chuẩn đoán:</label>
        {{ form.disease(rows=4, cols=30) }}<br><br>
    </form>
</body>
</html>
