div.content {
    margin-top: 6%
}

div.doctor {
    text-align: center;

}

div.doctor-left {
    padding: 2%;
    border-right: solid ;
}


div.doctor-right {
    padding: 2%;
}


div.m-date > label {
    width: 100%;
    text-align: left;
}

div.m-date > div {
    width: 280%;
}

div.m-diagnostic {
    display: flex;
    align-items: flex-end;
}

div.m-diagnostic > label {
    width: 100%;
    text-align: left;
}

div.m-diagnostic > select {
    width: 250%;
}

div.m-name {
    display: flex;
    align-items: center;
    height: 74px;
}

div.m-name > label {
    width: 100%;
    text-align: left;
}

div.m-symptom {
    display: flex;
    align-items: center;
}

div.m-symptom > label {
    width: 100%;
    text-align: left;
}

div.m-symptom > input {
    width: 255%;
}

div.noti-info {
    position: absolute;
    top: 88%;
    right: 10%;
}

.noti-info {
    display: none;
}

div.medicine-form {
    overflow: auto;
    height: 310px;
}

div.m-medicine {
    display: flex;
    align-items: center;
}

div.m-medicine > label {
    width: 100%;
    text-align: left;
}

div.m-medicine > input {
    width: 255%;
}

div.m-user {
    display: flex;
    align-items: flex-end;
}

div.m-user > label {
    width: 115%;
    text-align: left;
}

div.m-user > input {
    width: 245%;
}

div.m-quantity {
    display: flex;
    align-items: flex-end;
}

div.m-quantity > label {
    width: 125%;
    text-align: left;
}

div.m-quantity > input {
    width: 320%;
}

div.m-phieukham-id {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

div.m-phieukham-id > label {
    width: 40%;
    text-align: center;
}

div.m-phieukham-id > input {
    width: 40%;
}
