body {
  margin-top: 20px;
}

.footer .footer-socila-icon a {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f84e77;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 8px;
  font-size: 15px;
}

.footer .footer-socila-icon a:hover {
  background: #1baaa0;
}

.footer .footer-links {
  margin: 0;
}

.footer .footer-links li + li {
  padding-top: 10px;
}

.footer .footer-links li a {
  position: relative;
}

.footer .footer-links li a:after {
  content: "";
  position: absolute;
  width: 0px;
  left: auto;
  right: 0;
  bottom: 0;
  height: 1px;
  transition: ease all 0.35s;
  background: #f84e77;
}

.footer .footer-links li a:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.footer .footer-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer .footer-top {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .footer .footer-top {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

.footer .footer-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
  background: rgb(39, 81, 120) repeat-x !important;
}

.white-link a {
  color: rgba(255, 255, 255, 0.65);
}

a {
  text-decoration: none;
}
