.full-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: rgb(39, 81, 130);
}

.text {
  color: white;
  font-size: 18px;
}

.text:hover {
  color: #AEE4FF;
}

.title {
  color: rgb(39, 81, 158)
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1.25rem;
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

div.pagination {
  width: 100%;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}
