<p>Thân gửi {{ user.name }},</p>
<p>Chào mừng bạn đã đến với <b>Phòng khám</b> của chúng tôi</p>
<p>
  Để xác thực tài khoản của bạn, hãy nhấn vào:
  <a href="{{url_for('auth.confirm', token=token, _external=True)}}"
    >đường dẫn dưới đây</a
  >.
</p>
<p>
  Alternatively, you can paste the following link in your browser's address bar:
</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Thân,</p>
<p>Phòng khám</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
