{% extends 'landing_page.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/about.css') }}"
/>
<div class="aboutus-area full-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="aboutus-image float-left d-none d-sm-block">
              <img
                src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-2.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="aboutus-content">
              <h2>
                <p>
                  <span>WELCOME TO ABEDESIGNS</span>
                </p>
                I'M The Best <span>Web Developer</span>
              </h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </p>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences fly into your mouth.
              </p>
              <div class="counter">
                <div class="row">
                  <div class="col-12">
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>15</span>
                      </h2>
                      <p>YEARS OF EXPERIENCED</p>
                    </div>
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>100</span>
                      </h2>
                      <p>WEBSITES COMPLETED</p>
                    </div>
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>5</span>
                      </h2>
                      <p>AWARDS WON</p>
                    </div>
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>10</span>
                      </h2>
                      <p>CLIENTS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
