{% extends 'landing_page.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
<div class="aboutus-area full-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="aboutus-image float-left d-none d-sm-block">
              <img src="https://res.cloudinary.com/dgsii3nt1/image/upload/v1700748077/h%C3%ACnh5_syq6g7.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="aboutus-content">
              <h2>
                <p>
                  <span>CHÀO MỪNG BẠN</span>
                </p>
                ĐẾN VỚI <span>PHÒNG KHÁM ĐA KHOA TÂM ĐỨC</span>
              </h2>
              <p>
                Phòng khám đa khoa Tâm Đức là thương hiệu độc quyền được bảo hộ
                trên toàn lãnh thổ Việt Nam.
              </p>
              <p>
                SỨ MỆNH: “ Phụng sự con người nhanh nhất trên mọi miền đất
                nước”. Với 3 trụ cột là Chính trực – Kỷ luật – Sáng tạo. TẦM
                NHÌN: “Là chuỗi phòng khám đa khoa dẫn đầu Việt Nam bởi sự phục
                vụ tận tâm, chuyên môn giỏi .” GIÁ TRỊ CỐT LÕI: “Tận tâm, trung
                thực, kỷ luật, máu lửa, học hỏi.”
              </p>
              <div class="counter">
                <div class="row">
                  <div class="col-12">
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>15</span>
                      </h2>
                      <p>NĂM KINH NGHIỆM</p>
                    </div>
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>100</span>
                      </h2>
                      <p>ĐỘI NGŨ BÁC SĨ HÀNG ĐẦU</p>
                    </div>
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>5</span>
                      </h2>
                      <p>DANH HIỆU</p>
                    </div>
                    <div class="single-counter text-center">
                      <h2 class="counter">
                        <span>10</span>
                      </h2>
                      <p>GIẢI THƯỞNG</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
