<footer class="bg-dark-gradient footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-border-bottom pb-6 mb-5">
        <div class="row">
          <div class="col-lg-4 col-xl-3">
            <h5 class="text-white"> liên hệ với chúng tôi</h5>
          </div>
          <div class="col-lg-4 col-xl-6">
            <form class="d-flex flex-row mb-2 p-1 bg-white input-group">
              <input type="email" class="form-control rounded-0 border-0" placeholder="Email của bạn" />
              <button class="btn btn-secondary rounded-0 flex-shrink-0" type="submit">
                Gửi
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3 my-4">
          <div class="text-white-65 mb-4 text-white">
            Chúng tôi hiểu rằng, sức khỏe là vốn quý nhất của con người.
          </div>
          <div class="nav footer-socila-icon">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-2 my-4">
          <h5 class="text-white h6 mb-4">Thông tin </h5>
          <ul class="list-unstyled white-link footer-links">
            <li>
              <a href="#">Hoạt động</a>
            </li>
            <li>
              <a href="#">Liên hệ</a>
            </li>
            <li>
              <a href="#">Cam kết chất lượng</a>
            </li>
            <li>
              <a href="#">Đội ngũ chuyên gia </a>
            </li>

          </ul>
        </div>
        <div class="col-sm-6 col-lg-2 my-4">
          <h5 class="text-white h6 mb-4">Chính sách</h5>
          <ul class="list-unstyled white-link footer-links">
            <li>
              <a href="#">Miễn trừ trách nhiệm</a>
            </li>
            <li>
              <a href="#">Chính sách bảo mật</a>
            </li>
            <li>
              <a href="#">Chính sách và điều khoản</a>
            </li>

          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 my-4">
          <h5 class="text-white h6 mb-4">TÂM ĐỨC</h5>
          <div class="white-link">
            <div class="d-flex pb-3">
              <div class="avatar avatar-lg rounded">
                <img src="https://suckhoe123.vn/uploads/suc-khoe/bac-si-gia-dinh.png" title="" alt="" width="100"
                  height="100" />
              </div>
              <div class="col ps-3">
                <small class="text-primary">Địa chỉ</small>
                <h6 class="font-w-500 h6 m-0">
                  <a class="text-white" href="#">Nhơn Đức - Nhà Bè - TP HCM</a>
                </h6>
              </div>
            </div>
            <div class="d-flex">
              <div class="avatar avatar-lg rounded">
                <img src="https://png.pngtree.com/png-clipart/20190614/original/pngtree-male-doctor-holding-a-stethoscope-in-medical-office-png-image_3696329.jpg" title="" alt="" width="100"
                  height="100" />
              </div>
              <div class="col ps-3">
                <small class="text-primary">Giờ hoạt động</small>
                <h6 class="font-w-500 h6 m-0">
                  <a class="text-white" href="#">Thứ 2 đến Thứ 7: 09:00 AM - 5.30 PM</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom footer-border-top text-primary py-3">
    <div class="container text-center">
      <p class="m-0">
        © 2023 copyright
        <a href="#" class="text-reset text-white">ĐẠI HỌC MỞ TPHCM</a>
      </p>
    </div>
  </div>
</footer>
