{% extends "landing_page.html" %} {% from 'bootstrap4/form.html' import
render_form %} {% block content %}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/doctor.css') }}">

<div class="content" style="margin-bottom: 2%;">
    <div class="doctor row">
        <div class="doctor-left col-md-4 col-sm-12 text-center">
            <div class="mb-3 mt-3">
                <div>
                    <h4 style="font-weight:bold">Tra cứu bệnh nhân</h4>
                    <p>
                        Nếu nhập sai thì vui lòng bảo bệnh nhân đừng thanh toán và ra đăng ký khám lại vào hôm sau
                    </p>
                </div>
                <div class="m-user mb-3 mt-3">
                    <label class="lb-id form-label">Mã bệnh nhân:</label>
                    <input type="text" class="form-control"
                           placeholder="Nhập mã bệnh nhân">
                </div>
            </div>
            <hr>

            <div class="mb-3 mt-3">
                <div class="mb-3 mt-3">
                    <div>
                        <h4 style="font-weight:bold">Tra cứu thuốc</h4>
                        <p>Nếu <b>không nhập thuốc</b> thì nó sẽ là <b>tra cứu phiếu khám</b> theo mã bệnh nhân</p>
                    </div>
                    <div class="m-medicine mb-3 mt-3">
                        <label class="form-label">Nhập thuốc:</label>
                        <input class="form-control" list="medicines" name="medicine" id="medicine">

                    </div>
                    <div class="m-quantity mb-2 mt-2">
                        <label class="form-label">Số lượng:</label>
                        <input type="number" min="1" value="1" class="form-control" name="so_luong_thuoc"/>
                    </div>
                </div>
                <button class="bt-add btn btn-primary" type="submit">Thêm</button>
            </div>
        </div>

        <div class="doctor-right col-md-8 col-sm-12 mt-3">
            <div>
                <h2 style="font-weight: bold; color:blue; text-align: center ">PHIẾU KHÁM BỆNH</h2>
                <p style="text-align: center ">
                    Nếu nhập sai thì vui lòng bảo bệnh nhân đừng thanh toán và ra đăng ký khám lại vào hôm sau
                </p>
                <hr>
                <div class="container-fluid">
                    <div style="font-weight: bold; font-size: 25px">
                        Phiếu khám của bệnh nhân: <span style="color: red"></span>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="mb-3 mt-3">
                                <div class="m-symptom">
                                    <label for="symptom" class="form-label">Triệu chứng:</label>
                                    {{form.trieu_chung(class_="form-control")}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="mb-3 mt-3">
                                <div class="m-symptom">
                                    <label for="diagnosis" class="form-label">Chuẩn đoán:</label>
                                    {{form.chuan_doan(class_="form-control")}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="medicine-form">
                    <table class="table">
                        <tr>
                            <th>Mã phiếu khám</th>

                            <th>Thuốc</th>
                            <th>Đơn vị</th>
                            <th>Số lượng</th>
                            <th>Cách dùng</th>
                        </tr>
                    </table>
                </div>
                <div class="bt-save form-floating mt-3 mb-3 text-center">
                    <input type="submit" value="Lưu" class="btn btn-warning"/>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="noti-click">
    <div class="noti-info alert alert-warning">
        Tạo phiếu <strong>thành công &#10004</strong>
    </div>
</div>


{% endblock %}
