<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <nav class="navbar navbar-expand-md fixed-top ">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="https://res.cloudinary.com/dgsii3nt1/image/upload/v1701079653/LOGO_ao7prq.png"
                style="width: 60px;" alt="TÂM ĐỨC" />
        </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.index') }}">
                        <strong class="text"> Trang Chủ </strong>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact') }}">
                        <strong class="text">Liên Hệ </strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}">
                        <strong class="text">Giới thiệu </strong>
                    </a>
                </li>

            </ul>
            {% if current_user.is_authenticated %}

            {% if current_user.is_nurse %}
            <a href="{{url_for('medical-register.index')}}" class="btn btn-primary ml-3">
                <i class="fa-solid fa-calendar-check mr-2"></i>
                Đăng ký khám bệnh</a>
            {% else %}
            <a href="{{ url_for('main.medical_register') }}" class="btn btn-primary ml-3">
                <i class="fa-solid fa-calendar-check mr-2"></i>
                Đăng ký khám bệnh</a>
            {% endif %}

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex" href="#" role="button" data-bs-toggle="dropdown">
                    <img class="rounded-circle shadow-4-strong" src="{{ current_user.gravatar(size=25) }}">
                </a>
                <ul class="dropdown-menu" style='left: -105px'>
                    {% if not current_user.is_patient %}
                    <li class="dropdown-item">
                        <a href='{{url_for("admin.index")}}'>
                            <i class="fas fa-plus mr-2"></i>
                            <strong class="hide-nav">Dashboard</strong>
                        </a>
                    </li>
                    {% endif %}
                    <li class="dropdown-item">
                        <a href='{{url_for("auth.logout")}}'>
                            <i class="fas fa-plus mr-2"></i>
                            <strong class="hide-nav">Đăng xuất</strong>
                        </a>
                    </li>
                </ul>
            </div>

            {% else %}
            <div class='d-flex'>
                <a href="{{ url_for('auth.login') }}" class="btn btn-primary ml-3">
                    <i class="fa-solid fa-right-to-bracket mr-2"></i>
                    Đăng nhập</a>
            </div>
            {% endif %}
    </nav>
</header>
